fastapi
uvicorn
pydantic
pydantic-settings
python-multipart
python-dotenv
pymongo
PyJWT
passlib
requests
beautifulsoup4
duckduckgo-search
groq
google-genai
inference-sdk
imageio[ffmpeg]
imageio-ffmpeg==0.5.1
torch
torchvision
ultralytics
opencv-python
numpy
Pillow
pandas
tensorflow
keras
transformers
PyYAML
matplotlib
scipy
seaborn
